name: Build site

on:
  push:
    branches:
      - main  # или master
    paths:
      - "images/**"
      - "index.template.html"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Image List
        run: |
          # Собираем список файлов в формате ["1.jpg", "2.png"]
          IMAGES_JSON=$(ls images | jq -R -s -c 'split("\n") | map(select(length > 0))')
          echo "Generated list: $IMAGES_JSON"
          
          # Заменяем метку в шаблоне и создаем готовый index.html
          # Используем sed с альтернативным разделителем |
          sed "s|__IMAGES_LIST__|$IMAGES_JSON|g" index.template.html > index.html

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update image list"
          file_pattern: 'index.html'
