name: Build site

on:
  push:
    branches:
      - main
    paths:
      - "images/**"
      - "types.json"
      - "index.template.html"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Process and Inject Data
        env:
          # Сюда GitHub подставит твой хэш из настроек (Secrets)
          SECRET_PIN: ${{ secrets.PIN_HASH }}
        run: |
          # 1. Готовим данные
          TYPES_CONTENT=$(cat types.json | jq -c '.')
          # Собираем список всех .enc файлов в папке images
          ALL_FILES=$(find images -type f -name "*.enc" -printf "%f\n" | jq -R -s -c 'split("\n") | map(select(length > 0))')
          
          # 2. Берем шаблон
          cp index.template.html index.html

          # 3. Вставляем данные. Используем @ как разделитель, чтобы не сломать кавычки
          sed -i "s@__PIN_HASH__@$SECRET_PIN@g" index.html
          sed -i "s@__TYPES_JSON__@$TYPES_CONTENT@g" index.html
          sed -i "s@__ALL_FILES__@$ALL_FILES@g" index.html

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Build: Update index.html with security and assets"
          file_pattern: 'index.html'
