name: Build site

on:
  push:
    paths:
      - "images/**"
      - "index.html"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Inject PIN hash
        env:
          PIN: ${{ secrets.SITE_PIN }}
        run: |
          HASH=$(echo -n "$PIN" | sha256sum | cut -d' ' -f1)
          sed -i "s/__PIN_HASH__/$HASH/g" index.html

      - name: Inject images list
        run: |
          IMAGES=$(ls images | jq -R . | jq -s .)
          sed -i "s|__IMAGES__|$IMAGES|g" index.html

      - name: Commit build
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "build: update images & pin"
