name: Build site with secret PIN

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Inject PIN hash
        env:
          PIN: ${{ secrets.SITE_PIN }}
        run: |
          HASH=$(echo -n "$PIN" | sha256sum | cut -d' ' -f1)
          sed -i "s/__PIN_HASH__/$HASH/g" index.html

      - name: Commit built file
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "build: inject pin hash"
