name: Build Cards

on:
  push:
    paths:
      - 'images/**'
      - 'index.template.html'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Generate images array and build index.html
      run: |
        # Получаем список файлов из папки images
        IMAGES=$(ls images | jq -R . | jq -s .)
        
        # Подставляем массив в шаблон
        sed "s|__IMAGES__|$IMAGES|g" index.template.html > index.html

    - name: Commit changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add index.html
        git diff --cached --quiet || git commit -m "Update cards"
        git push
